<!DOCTYPE html>
<html>
<head>
  <title>KinTwit</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<br>
<br>
<%= image_tag('valid-html5.jpg', :alt => 'Valid HTML5') %>
<%= image_tag('valid-css.png',   :alt => 'Valid CSS') %>
</body>
</html>
